.news_desc {
      overflow: hidden;
      max-height: 140px;
      text-overflow: ellipsis;
}

.ct_news_img img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 10px;
}

.ct_news_card_12 {
      overflow: hidden;
}