.bg-img {
      height: 100%;
      background-repeat: round;
}

td {
      padding: 0 !important;
}

.ct_prev_year {
      cursor: pointer;
}

img.ct_event_img_calender12 {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      z-index: -1;
}