<main class="py-4 h-auto">
      <div class="container-fluid">
            <app-inner-header />
            <div class="row mt-5">
                  <div class="col-lg-3 mb-4">
                        <app-sidebar />
                  </div>
                  <div class="col-lg-9  mb-4">
                        <div class="ct_right_content">
                              <div class="ct_calender_main_div">
                                    <div class="ct_calender_top_title">
                                          <div class="ct_prev_year">
                                                <i class="fa-solid fa-arrow-left"></i>
                                          </div>
                                          <div class="d-flex align-items-center gap-3">
                                                <span class="text-white ct_fs_20">April</span>
                                                <span class="text-white ct_fs_20">2022</span>
                                          </div>
                                          <div class="ct_prev_year">
                                                <i class="fa-solid fa-arrow-right"></i>
                                          </div>
                                    </div>

                                    <table class="ct_calender_table table">
                                          <thead>
                                                <tr>
                                                      <th><span>Monday</span> </th>
                                                      <th><span>Tuesday</span></th>
                                                      <th><span>Wednesday</span></th>
                                                      <th><span>Thursday</span></th>
                                                      <th><span>Friday</span></th>
                                                      <th><span>Saturday</span></th>
                                                      <th><span>Sunday</span></th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr>
                                                      <td>1</td>
                                                      <td>2</td>
                                                      <td style="background-image: url('assets/img/img_2.jpg');">3</td>
                                                      <td>4</td>
                                                      <td>5</td>
                                                      <td style="background-image: url('assets/img/img_14.jpg');">6</td>
                                                      <td>7</td>
                                                </tr>
                                                <tr>
                                                      <td style="background-image: url('assets/img/img_34.png');">8</td>
                                                      <td>9</td>
                                                      <td>10</td>
                                                      <td>11</td>
                                                      <td style="background-image: url('assets/img/img_25.jpg');">12
                                                      </td>
                                                      <td>13</td>
                                                      <td>14</td>
                                                </tr>
                                                <tr>
                                                      <td>15</td>
                                                      <td>16</td>
                                                      <td>17</td>
                                                      <td>18</td>
                                                      <td style="background-image: url('assets/img/img_35.png');">19
                                                      </td>
                                                      <td>20</td>
                                                      <td>21</td>
                                                </tr>
                                                <tr>
                                                      <td>22</td>
                                                      <td>23</td>
                                                      <td style="background-image: url('assets/img/img_13.jpg');">24
                                                      </td>
                                                      <td>25</td>
                                                      <td>26</td>
                                                      <td>27</td>
                                                      <td style="background-image: url('assets/img/img_19.jpg');">28
                                                      </td>
                                                </tr>
                                                <tr>
                                                      <td style="background-image: url('assets/img/img_36.png');">29
                                                      </td>
                                                      <td>30</td>
                                                      <td>31</td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</main>