<app-header />
<main class="py-4 h-auto">
      <div class="container-fluid">
            <app-inner-header />
            <div class="row mt-5">
                  <div class="col-lg-3 mb-4">
                        <app-sidebar />
                  </div>
                  <div class="col-lg-9  mb-4">
                        <div class="ct_right_content">
                              <div class="ct_calender_main_div">
                                    <div class="ct_calender_top_title">
                                          <div class="ct_prev_year">
                                                <i (click)="previousMonth()" class="fa-solid fa-arrow-left"></i>
                                          </div>
                                          <div class="d-flex align-items-center gap-3">
                                                <span class="text-white ct_fs_20">{{month}}</span>
                                                <span class="text-white ct_fs_20">{{year}}</span>
                                          </div>
                                          <div class="ct_prev_year">
                                                <i (click)="nextMonth()" class="fa-solid fa-arrow-right"></i>
                                          </div>
                                    </div>

                                    <table class="ct_calender_table table">
                                          <thead>
                                                <tr>
                                                      <th><span>Sunday</span></th>
                                                      <th><span>Monday</span></th>
                                                      <th><span>Tuesday</span></th>
                                                      <th><span>Wednesday</span></th>
                                                      <th><span>Thursday</span></th>
                                                      <th><span>Friday</span></th>
                                                      <th><span>Saturday</span></th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr *ngFor="let week of calendarData">
                                                      <ng-container *ngFor="let day of week">
                                                            <td [ngClass]="day?.day ? '':'bg-transparent'">
                                                                  <div class="h-100" *ngIf="day?.day">
                                                                        <div class="bg-img" *ngIf="day.image"
                                                                              [style.background-image]="'url(' + day.image + ')'">
                                                                              <span class="p-2">{{ day.day }}</span>
                                                                        </div>
                                                                        <div *ngIf="!day.image">
                                                                              <span class="p-2">{{ day.day }}</span>
                                                                        </div>
                                                                  </div>
                                                            </td>
                                                      </ng-container>
                                                </tr>
                                          </tbody>
                                    </table>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</main>
<app-footer />
<div *ngIf="loading" class="ct_loader_main">
      <div class="loader"></div>
</div>