<footer class="ct_footer">
      <ul>
            <li>
                  <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                  <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </li>
            <li>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
      </ul>
      <p>
            Copyright © 2021 - <a href="" class="ct_text_cyan ct_fw_600">antoine tempé</a> - All Rights Reserved.
      </p>
</footer>