<header class="ct_header">
      <div class="ct_logo">
            <a routerLink="/home"><img src="assets/img/Logo.svg" alt=""></a>
      </div>
      <nav>
            <ul>
                  <div class="ct_close_menu">
                        <i class="fa-solid fa-xmark"></i>
                  </div>
                  <li><a routerLink="/fine-art">FINE ART</a></li>
                  <li><a routerLink="/photo-journalism">PHOTO JOURNALISM</a></li>
                  <li><a routerLink="/exhibition">EXHIBITIONS</a></li>
                  <li><a routerLink="/news">NEWS</a></li>
                  <li><a routerLink="/contact">ABOUT / CONTACT</a></li>
                  <li><a routerLink="/archives">ARCHIVES</a></li>
            </ul>
      </nav>

      <div class="ct_search_icon_circle">
            <a href="search.html" class="text-white"><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
      <div class="ct_toggle_menu">
            <i class="fa-solid fa-bars"></i>
      </div>
</header>