<main class="py-4 h-auto">
      <div class="container">
            <div class="row">
                  <div class="col-lg-5 col-md-7 mx-auto">
                        <div class="ct_contact_main">
                              <h2 class="ct_ff_Rozha mb-0 text-center ct_fs_80 text-white mb-5">ARCHIVES</h2>
                              <h4 class="text-white text-center mb-4">Forgot Password?</h4>
                              <form action="">
                                    <div class="form-group mb-3">
                                          <label for="" class="mb-2 text-white">Your Email Address</label>
                                          <input type="text" class="ct_input form-control">
                                    </div>
                                    <button class="ct_cyan_btn w-100 mt-3">Send</button>
                                    <p class="mb-0 text-center text-white mt-3">Already Know Your Password? <a
                                                routerLink="/log-in" class="ct_text_cyan">Login</a></p>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</main>