<main class="py-4 h-auto">
      <div class="container-fluid">
            <app-inner-header />
            <div class="row mt-5">
                  <div class="col-lg-3 mb-4">
                        <app-sidebar />
                  </div>
                  <div class="col-lg-9  mb-4">
                        <div class="ct_right_content">
                              <div class="row">
                                    <div class="col-md-11 mx-auto ">
                                          <div class="ct_search_messanory_grid ct_random_photo_grid">
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block">
                                                      <img src="assets/img/search_img/Photo_Frame5.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block tall">
                                                      <img src="assets/img/search_img/Photo_Frame2.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block">
                                                      <img src="assets/img/search_img/Photo_Frame3.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block tall">
                                                      <img src="assets/img/search_img/Photo_Frame4.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block">
                                                      <img src="assets/img/search_img/Photo_Frame5.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block">
                                                      <img src="assets/img/search_img/Photo_Frame6.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block">
                                                      <img src="assets/img/search_img/Photo_Frame7.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block">
                                                      <img src="assets/img/search_img/Photo_Frame8.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block">
                                                      <img src="assets/img/search_img/Photo_Frame9.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block">
                                                      <img src="assets/img/search_img/Photo_Frame10.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame11.png">
                                                      <img src="assets/img/search_img/Photo_Frame11.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame12.png">
                                                      <img src="assets/img/search_img/Photo_Frame12.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame13.png">
                                                      <img src="assets/img/search_img/Photo_Frame13.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame14.png">
                                                      <img src="assets/img/search_img/Photo_Frame14.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame15.png">
                                                      <img src="assets/img/search_img/Photo_Frame15.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame16.png">
                                                      <img src="assets/img/search_img/Photo_Frame16.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame17.png">
                                                      <img src="assets/img/search_img/Photo_Frame17.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame18.png">
                                                      <img src="assets/img/search_img/Photo_Frame18.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame19.png">
                                                      <img src="assets/img/search_img/Photo_Frame19.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame20.png">
                                                      <img src="assets/img/search_img/Photo_Frame20.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame21.png">
                                                      <img src="assets/img/search_img/Photo_Frame21.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame22.png">
                                                      <img src="assets/img/search_img/Photo_Frame22.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame23.png">
                                                      <img src="assets/img/search_img/Photo_Frame23.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame24.png">
                                                      <img src="assets/img/search_img/Photo_Frame24.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame25.png">
                                                      <img src="assets/img/search_img/Photo_Frame25.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame26.png">
                                                      <img src="assets/img/search_img/Photo_Frame26.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame27.png">
                                                      <img src="assets/img/search_img/Photo_Frame27.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame28.png">
                                                      <img src="assets/img/search_img/Photo_Frame28.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame29.png">
                                                      <img src="assets/img/search_img/Photo_Frame29.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame30.png">
                                                      <img src="assets/img/search_img/Photo_Frame30.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame31.png">
                                                      <img src="assets/img/search_img/Photo_Frame31.png" alt="">
                                                </a>
                                                <a href="random-photos-full-view-detail.html"
                                                      class="ct_search_img d-block"
                                                      data-src="assets/img/search_img/Photo_Frame32.png">
                                                      <img src="assets/img/search_img/Photo_Frame32.png" alt="">
                                                </a>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</main>