<app-header />
<main class="py-4 h-auto">
      <div class="container-fluid">
            <app-inner-header />
            <div class="row mt-5">
                  <div class="col-lg-3 mb-4">
                        <app-sidebar />
                  </div>
                  <div class="col-lg-9  mb-4">
                        <div class="ct_right_content">
                              <div class="row">
                                    <div class="col-md-11 mx-auto ">
                                          <div class="ct_search_messanory_grid ct_random_photo_grid">
                                                @for (item of data; track $index) {
                                                <a routerLink="/studio-album" [queryParams]="{id : item?.id}"
                                                      class="ct_search_img d-block">
                                                      <img [src]="item.image" alt="">
                                                </a>
                                                }
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</main>
<app-footer />