<div class="row">
      <div class="col-md-12 ct_px_40">
            <div class="d-flex justify-content-end gap-4">
                  <div class="ct-search_filter">
                        <input [(ngModel)]="searchQuery" (keydown.enter)="onSearch()" type="text" placeholder="Search"
                              class="form-control ct_input">
                        <i class="fa-solid fa-magnifying-glass"></i>
                  </div>
                  <button *ngIf="userData.role == '2'" routerLink="/my-album" class="ct_cyan_btn ct_fs_16">My
                        Album</button>
            </div>
            <div class="ct_archive_home_tab_links">
                  <ul>
                        <li>
                              <a routerLink="/search-filters" routerLinkActive="active">Search Filters</a>
                        </li>
                        <li>
                              <a routerLink="/all-tags" routerLinkActive="active">All Tags</a>
                        </li>
                        <li>
                              <a routerLink="/calender" routerLinkActive="active">Calendar</a>
                        </li>
                        <li>
                              <a routerLink="/random-photos" routerLinkActive="active">Random photos</a>
                        </li>
                        <li>
                              <a routerLink="/change-password" routerLinkActive="active">Change Password</a>
                        </li>
                        <li>
                              <a style="color: #fff;" (click)="logOut()">Logout</a>
                        </li>
                  </ul>
            </div>
      </div>
</div>