<main class="py-4 h-auto">
      <h2 class="ct_ff_Rozha mb-0 text-center ct_fs_80 text-white mb-4">FEATURED</h2>

      <div class="ct_filter_main_gallery">

            <div class="ct_tab_button-group">
                  <button class="ct_tab_btn " data-filter="all">All</button>
                  <button class="ct_tab_btn  filter-button" data-filter="face-a-faces">FACE-Å-FACES
                  </button>
                  <button class="ct_tab_btn  filter-button" data-filter="debris">DÉBRIS DE JUSTICE
                  </button>
                  <button class="ct_tab_btn  filter-button" data-filter="waa-dakar">WAA DAKAR
                  </button>
                  <button class="ct_tab_btn  filter-button" data-filter="theorie">THÉORIE DES RÉGNES SENSIBLES
                  </button>
                  <button class="ct_tab_btn  filter-button" data-filter="re-mixing">[RE-]MIXING HOLLYWOOD

                  </button>
                  <button class="ct_tab_btn  filter-button" data-filter="dances">DANCES </button>
                  <button class="ct_tab_btn  filter-button" data-filter="moodsimoves">MOODSIMOVES </button>

                  <!-- <button class="ct_tab_btn filter-button" data-filter="all">All</button>
        <button class="ct_tab_btn filter-button" data-filter="waa-dakar">HDPE Pipes</button>
        <button class="ct_tab_btn filter-button" data-filter="sprinkle">Sprinkle Pipes</button>
        <button class="ct_tab_btn filter-button" data-filter="spray">Spray Nozzle</button>
        <button class="ct_tab_btn filter-button" data-filter="irrigation">Irrigation Pipes</button> -->

            </div>

            <div class="mb-4">
                  <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                    <img src="assets/img/awadi_sunugaal.jpg" />
                              </div>
                              <div class="swiper-slide">
                                    <img src="assets/img/1200x630bb.jpg" />
                              </div>
                              <div class="swiper-slide">
                                    <img src="assets/img/zair_ak_batine.jpg" />
                              </div>
                              <div class="swiper-slide">
                                    <img src="assets/img/Liberation_Sotigui_Kouyaté-655x867.jpg" />
                              </div>
                              <div class="swiper-slide">
                                    <img src="assets/img/City-Gym-Boys-in-Photo-27615-01-34-gf-pr.jpg" />
                              </div>
                              <div class="swiper-slide">
                                    <img src="assets/img/awadi_sunugaal.jpg" />
                              </div>
                              <div class="swiper-slide">
                                    <img src="assets/img/1200x630bb.jpg" />
                              </div>
                              <div class="swiper-slide">
                                    <img src="assets/img/zair_ak_batine.jpg" />
                              </div>
                              <div class="swiper-slide">
                                    <img src="assets/img/Liberation_Sotigui_Kouyaté-655x867.jpg" />
                              </div>
                              <div class="swiper-slide">
                                    <img src="assets/img/City-Gym-Boys-in-Photo-27615-01-34-gf-pr.jpg" />
                              </div>

                        </div>
                  </div>

            </div>


            <div>
                  <div class="ct_search_messanory_grid ct_home_page_messanory_grid_23">
                        <div class="filter waa-dakar">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_1.jpg" alt=""></a>
                        </div>
                        <div class="filter waa-dakar">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_2.jpg" alt=""></a>
                        </div>
                        <div class="filter WAA-DAKAR">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_3.jpg" alt=""></a>
                        </div>


                        <div class="filter debris">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_4.jpg" alt=""></a>
                        </div>
                        <div class="filter debris">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_5.jpg" alt=""></a>
                        </div>
                        <div class="filter debris">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_25.jpg" alt=""></a>
                        </div>
                        <div class="filter debris">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_26.jpg" alt=""></a>
                        </div>
                        <div class="filter debris">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_27.jpg" alt=""></a>
                        </div>
                        <div class="filter debris">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_28.jpg" alt=""></a>
                        </div>


                        <div class="filter face-a-faces">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_6.jpg" alt=""></a>
                        </div>
                        <div class="filter face-a-faces">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_7.jpg" alt=""></a>
                        </div>
                        <div class="filter face-a-faces">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_8.jpg" alt=""></a>
                        </div>
                        <div class="filter face-a-faces">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_27.jpg" alt=""></a>
                        </div>
                        <div class="filter face-a-faces">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_28.jpg" alt=""></a>
                        </div>

                        <div class="filter theorie">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_9.jpg" alt=""></a>
                        </div>
                        <div class="filter theorie">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_10.jpg" alt=""></a>
                        </div>
                        <div class="filter theorie">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_11.jpg" alt=""></a>
                        </div>
                        <div class="filter theorie">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_15.jpg" alt=""></a>
                        </div>
                        <div class="filter theorie">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_20.jpg" alt=""></a>
                        </div>

                        <div class="filter re-mixing">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_12.jpg" alt=""></a>
                        </div>
                        <div class="filter re-mixing">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_13.jpg" alt=""></a>
                        </div>
                        <div class="filter re-mixing">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_14.jpg" alt=""></a>
                        </div>
                        <div class="filter re-mixing">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_23.jpg" alt=""></a>
                        </div>
                        <div class="filter re-mixing">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_24.jpg" alt=""></a>
                        </div>

                        <div class="filter dances">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_15.jpg" alt=""></a>
                        </div>
                        <div class="filter dances">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_16.jpg" alt=""></a>
                        </div>
                        <div class="filter dances">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_17.jpg" alt=""></a>
                        </div>
                        <div class="filter dances">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_21.jpg" alt=""></a>
                        </div>
                        <div class="filter dances">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_22.jpg" alt=""></a>
                        </div>


                        <div class="filter moodsimoves">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_18.jpg" alt=""></a>
                        </div>
                        <div class="filter moodsimoves">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_19.jpg" alt=""></a>
                        </div>
                        <div class="filter moodsimoves">
                              <a routerLink="/home-full-view-detail"><img src="assets/img/img_20.jpg" alt=""></a>
                        </div>

                  </div>
            </div>
      </div>
</main>
<!-- <div class="ct_loader_main">
      <div class="loader"></div>
</div> -->