<main class="py-4 h-auto">
      <div class="ct_filter_main_gallery">
            <div class="ct_tab_button-group">
                  <button class="ct_tab_btn filter-button" data-filter="all">All</button>
                  <button class="ct_tab_btn  filter-button" data-filter="face-a-faces">DKR/TNR

                  </button>
                  <button class="ct_tab_btn  filter-button" data-filter="debris">DFW17

                  </button>
                  <button class="ct_tab_btn  filter-button" data-filter="waa-dakar">CHRONICLE OF A REVOLT
                  </button>
            </div>
            <div>
                  <div class="ct_search_messanory_grid ct_home_page_messanory_grid_23">
                        <a href="fine_art_full_view_detail.html" class="filter waa-dakar">
                              <img src="assets/img/img_1.jpg" alt="">
                        </a>
                        <a href="fine_art_full_view_detail.html" class="filter waa-dakar">
                              <img src="assets/img/img_2.jpg" alt="">
                        </a>
                        <a href="fine_art_full_view_detail.html" class="filter WAA-DAKAR">
                              <img src="assets/img/img_3.jpg" alt="">
                        </a>


                        <a href="fine_art_full_view_detail.html" class="filter debris">
                              <img src="assets/img/img_4.jpg" alt="">
                        </a>
                        <a href="fine_art_full_view_detail.html" class="filter debris">
                              <img src="assets/img/img_5.jpg" alt="">
                        </a>
                        <a href="fine_art_full_view_detail.html" class="filter debris">
                              <img src="assets/img/img_25.jpg" alt="">
                        </a>
                        <a href="fine_art_full_view_detail.html" class="filter debris">
                              <img src="assets/img/img_26.jpg" alt="">
                        </a>
                        <a href="fine_art_full_view_detail.html" class="filter debris">
                              <img src="assets/img/img_27.jpg" alt="">
                        </a>
                        <a href="fine_art_full_view_detail.html" class="filter debris">
                              <img src="assets/img/img_28.jpg" alt="">
                        </a>


                        <a href="fine_art_full_view_detail.html" class="filter face-a-faces">
                              <img src="assets/img/img_6.jpg" alt="">
                        </a>
                        <a href="fine_art_full_view_detail.html" class="filter face-a-faces">
                              <img src="assets/img/img_7.jpg" alt="">
                        </a>
                        <a href="fine_art_full_view_detail.html" class="filter face-a-faces">
                              <img src="assets/img/img_8.jpg" alt="">
                        </a>
                        <a href="fine_art_full_view_detail.html" class="filter face-a-faces">
                              <img src="assets/img/img_27.jpg" alt="">
                        </a>
                        <a href="fine_art_full_view_detail.html" class="filter face-a-faces">
                              <img src="assets/img/img_28.jpg" alt="">
                        </a>
                  </div>
            </div>
      </div>
</main>