<app-header />
<main class="py-4 h-auto">
      <div class="ct_filter_main_gallery">
            <div class="ct_tab_button-group">
                  <button class="ct_tab_btn filter-button" [ngClass]="{'active' : !selectedId}"
                        (click)="filterImage(null)">
                        All
                  </button>
                  @for (item of subCategories; track $index) {
                  <button class="ct_tab_btn filter-button" [ngClass]="{'active' : selectedId == item.id}"
                        (click)="filterImage(item.id)">
                        {{item.subcategory_name}}
                  </button>
                  }
            </div>
            <div>
                  <div>
                        <ng-container *ngIf="data.length>0 ;else default">
                              <div class="ct_search_messanory_grid ct_home_page_messanory_grid_23">
                                    @for (item of data; track $index) {
                                    <a class="">
                                          <img [src]="item.image_url" alt="">
                                    </a>
                                    }

                              </div>
                        </ng-container>
                  </div>
                  <ng-template #default>
                        <h2 class="text-white text-center mt-5 no_data">NO IMAGES FOUND !</h2>
                  </ng-template>
            </div>
      </div>
</main>
<app-footer />
<!-- <div *ngIf="loading" class="ct_loader_main">
      <div class="loader"></div>
</div> -->