<main class="py-4 h-auto">
      <div class="container-fluid">
            <app-inner-header />
            <div class="row mt-5">
                  <div class="col-lg-3 mb-4">
                        <app-sidebar />
                  </div>
                  <div class="col-lg-9  mb-4">
                        <div class="ct_right_content">
                              <div>
                                    <div class="row">
                                          <div class="col-lg-4 col-md-6 mb-5">
                                                <a routerLink="/studio-album"
                                                      class="ct_album_img ct_light_box_width_348">
                                                      <img class="img-responsive" src="assets/img/img_15.jpg">
                                                      <p>Hardo, 2016</p>
                                                </a>
                                          </div>
                                          <div class="col-lg-4 col-md-6 mb-5">
                                                <a routerLink="/studio-album"
                                                      class="ct_album_img ct_light_box_width_348">
                                                      <img class="img-responsive" src="assets/img/img_2.jpg">
                                                      <p>Hardo, 2016</p>
                                                </a>
                                          </div>
                                          <div class="col-lg-4 col-md-6 mb-5">
                                                <a routerLink="/studio-album"
                                                      class="ct_album_img ct_light_box_width_348">
                                                      <img class="img-responsive" src="assets/img/img_22.jpg">
                                                      <p>Hardo, 2016</p>
                                                </a>
                                          </div>
                                          <div class="col-lg-4 col-md-6 mb-5">
                                                <a routerLink="/studio-album"
                                                      class="ct_album_img ct_light_box_width_348">
                                                      <img class="img-responsive" src="assets/img/img_13.jpg">
                                                      <p>Hardo, 2016</p>
                                                </a>
                                          </div>
                                          <div class="col-lg-4 col-md-6 mb-5">
                                                <a routerLink="/studio-album"
                                                      class="ct_album_img ct_light_box_width_348">
                                                      <img class="img-responsive" src="assets/img/img_27.jpg">
                                                      <p>Hardo, 2016</p>
                                                </a>
                                          </div>
                                          <div class="col-lg-4 col-md-6 mb-5">
                                                <a routerLink="/studio-album"
                                                      class="ct_album_img ct_light_box_width_348">
                                                      <img class="img-responsive" src="assets/img/img_20.jpg">
                                                      <p>Hardo, 2016</p>
                                                </a>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</main>