<app-header />

<main class="py-4 h-auto">
      <div class="container-fluid">
            <app-inner-header />
            <div class="row mt-5">
                  <div class="col-lg-3 mb-4">
                        <app-sidebar />
                  </div>
                  <div class="col-lg-9  mb-4">
                        <div class="ct_right_content">
                              <ul class="ct_breadcrumb_menu mb-4 ps-0">
                                    <li>
                                          <a routerLink="/archives">
                                                <h4 class="text-white  ct_fs_20 mb-0">Home</h4>
                                          </a>
                                    </li>
                                    <li *ngIf="data?.length > 0">
                                          /
                                    </li>
                                    <li>
                                          {{ data?.length > 0 ? data[0].category_name : ''}}
                                    </li>
                                    <li *ngIf="data?.length > 0">
                                          /
                                    </li>
                                    <li>
                                          {{ data?.length > 0 ? data[0].subcategory_name : ''}}
                                    </li>
                              </ul>
                              <div class="row">
                                    @for (item of data; track $index) {
                                    <div class="col-lg-4 col-md-6 mb-5">
                                          <div class="ct_album_card ct_light_black_bg">
                                                <a routerLink="/sub-album"
                                                      [queryParams]="{cat_id : item?.category_id, subcat_id : item?.subcategory_id,subsubcat_id: item?.subsubcategory_id}">
                                                      <figure>
                                                            <div class="ct_album_img">
                                                                  <img [src]="item?.imageUrl" alt="">
                                                            </div>
                                                            <figcaption>
                                                                  <h4>{{item?.sub_sub_categoryName | uppercase}}</h4>
                                                                  <p class="mb-0">{{item?.count}} {{ item?.count > 1 ?
                                                                        'photos' :
                                                                        'photo' }}</p>
                                                            </figcaption>
                                                      </figure>
                                                </a>
                                          </div>
                                    </div>
                                    }
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</main>
<app-footer />

<div *ngIf="loading" class="ct_loader_main">
      <div class="loader"></div>
</div>