<app-header />
<main class="py-4 h-auto">
      <div class="container-fluid">
            <app-inner-header />
            <div class="row mt-5">
                  <div class="col-lg-3 mb-4">
                        <app-sidebar />
                  </div>
                  <div class="col-lg-9  mb-4">
                        <div class="ct_right_content">
                              <h4 class="ct_fs_20 text-white mb-4">Creation date</h4>
                              @for (item of data; track $index) {
                              <div class="ct_all_tags">
                                    <h4 class="ct_text_cyan ct_fs_20">{{item.Year}} [{{item.Count}}]</h4>
                                    <ul>
                                          @for (month of item.Months; track $index) {
                                          <li><a routerLink="/calender-preview"
                                                      [queryParams]="{year : item?.Year, month : month.month}"
                                                      class="text-white"> {{month.month}}
                                                      ({{month.count}})</a>
                                          </li>
                                          }
                                    </ul>
                              </div>
                              }
                        </div>
                  </div>
            </div>
      </div>
</main>
<app-footer />