<main class="py-4 h-auto">
      <div class="container-fluid">
            <app-inner-header />
            <div class="row mt-5">
                  <div class="col-lg-3 mb-4">
                        <app-sidebar />
                  </div>
                  <div class="col-lg-9  mb-4">
                        <div class="ct_right_content">
                              <h4 class="ct_fs_20 text-white mb-4">Creation date</h4>
                              <div class="ct_all_tags">
                                    <h4 class="ct_text_cyan ct_fs_20">2024 [3]</h4>
                                    <ul>
                                          <li><a routerLink="/calender-preview" class="text-white"> January (46)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">February (15)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">March (16)</a></li>
                                          <li> <a routerLink="/calender-preview" class="text-white">April (42)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">May (34)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">June (46)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">July (3)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">August (38)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">September (41)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">October (46)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">November (31)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">December (64)</a>
                                          </li>



                                    </ul>
                              </div>
                              <div class="ct_all_tags mt-4">
                                    <h4 class="ct_text_cyan ct_fs_20">2023 [3]</h4>
                                    <ul>
                                          <li><a routerLink="/calender-preview" class="text-white"> January (46)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">February (15)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">March (16)</a></li>
                                          <li> <a routerLink="/calender-preview" class="text-white">April (42)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">May (34)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">June (46)</a></li>

                                    </ul>
                              </div>
                              <div class="ct_all_tags mt-4">
                                    <h4 class="ct_text_cyan ct_fs_20">2022 [3]</h4>
                                    <ul>
                                          <li><a routerLink="/calender-preview" class="text-white"> January (46)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">February (15)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">March (16)</a></li>
                                          <li> <a routerLink="/calender-preview" class="text-white">April (42)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">May (34)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">June (46)</a></li>

                                    </ul>
                              </div>
                              <div class="ct_all_tags mt-4">
                                    <h4 class="ct_text_cyan ct_fs_20">2021 [3]</h4>
                                    <ul>
                                          <li><a routerLink="/calender-preview" class="text-white"> January (46)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">February (15)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">March (16)</a></li>
                                          <li> <a routerLink="/calender-preview" class="text-white">April (42)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">May (34)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">June (46)</a></li>
                                          <li> <a routerLink="/calender-preview" class="text-white">April (42)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">May (34)</a></li>

                                    </ul>
                              </div>
                              <div class="ct_all_tags mt-4">
                                    <h4 class="ct_text_cyan ct_fs_20">2020 [3]</h4>
                                    <ul>
                                          <li><a routerLink="/calender-preview" class="text-white"> January (46)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">February (15)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">March (16)</a></li>
                                          <li> <a routerLink="/calender-preview" class="text-white">April (42)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">May (34)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">June (46)</a></li>
                                          <li> <a routerLink="/calender-preview" class="text-white">April (42)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">May (34)</a></li>

                                    </ul>
                              </div>
                              <div class="ct_all_tags mt-4">
                                    <h4 class="ct_text_cyan ct_fs_20">2019 [3]</h4>
                                    <ul>
                                          <li><a routerLink="/calender-preview" class="text-white"> January (46)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">February (15)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">March (16)</a></li>
                                          <li> <a routerLink="/calender-preview" class="text-white">April (42)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">May (34)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">June (46)</a></li>

                                    </ul>
                              </div>
                              <div class="ct_all_tags mt-4">
                                    <h4 class="ct_text_cyan ct_fs_20">2018 [3]</h4>
                                    <ul>
                                          <li><a routerLink="/calender-preview" class="text-white"> January (46)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">February (15)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">March (16)</a></li>
                                          <li> <a routerLink="/calender-preview" class="text-white">April (42)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">May (34)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">June (46)</a></li>
                                          <li> <a routerLink="/calender-preview" class="text-white">April (42)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">May (34)</a></li>

                                    </ul>
                              </div>
                              <div class="ct_all_tags mt-4">
                                    <h4 class="ct_text_cyan ct_fs_20">2017 [3]</h4>
                                    <ul>
                                          <li><a routerLink="/calender-preview" class="text-white"> January (46)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">February (15)</a>
                                          </li>
                                          <li><a routerLink="/calender-preview" class="text-white">March (16)</a></li>
                                          <li> <a routerLink="/calender-preview" class="text-white">April (42)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">May (34)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">June (46)</a></li>
                                          <li> <a routerLink="/calender-preview" class="text-white">April (42)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">May (34)</a></li>
                                          <li><a routerLink="/calender-preview" class="text-white">June (46)</a></li>
                                    </ul>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</main>