<div class="ct_link_hover_a" style="position: sticky;top: 0px;">
      <div class="ct_news_right_sidebar">
            <h4 class="ct_fs_24 mb-3 ct_fw_600 text-white">Recent posts
            </h4>
            <ul class="ps-0 mb-0">
                  @for (item of data; track $index) {
                  <li>
                        <p class="text-white mb-2">{{item.title}}</p>
                        <p class="mb-0 text-white ct_text_op_08">{{item.news_post_date}}</p>
                  </li>
                  }
            </ul>
      </div>
      <!-- <div class="ct_news_right_sidebar mt-3">
            <h4 class="ct_fs_24 mb-3 ct_fw_600 text-white">Topic
            </h4>
            <ul class="ps-0 mb-0 d-flex align-items-center gap-3 flex-wrap">
                  <li class="text-white">
                        <a href="#" class="text-white"> exhibition (12)</a>
                  </li>
            </ul>
      </div> -->
      <!-- <div class="ct_news_right_sidebar mt-3">
            <h4 class="ct_fs_24 mb-3 ct_fw_600 text-white">Tags

            </h4>
            <ul class="ps-0 mb-0 d-flex align-items-center gap-3 flex-wrap ct_tags_list_234">
                  <li>
                        <a href="#" class="text-white">architecture</a>
                  </li>
                  <li>
                        <a href="" class="text-white">exhibition</a>
                  </li>
                  <li>
                        <a href="" class="text-white"> fine arts</a>
                  </li>
                  <li>
                        <a href="" class="text-white">installation</a>
                  </li>
                  <li>
                        <a href="" class="text-white">portraiture</a>
                  </li>
                  <li>
                        <a href="" class="text-white">video</a>
                  </li>
            </ul>
      </div> -->
      <!-- <div class="ct_news_right_sidebar mt-3">
            <h4 class="ct_fs_24 mb-3 ct_fw_600 text-white">Archives


            </h4>
            <ul class="ps-0 mb-0">
                  <li>
                        <a href="#" class="text-white">November 2018 (2)</a>
                  </li>
                  <li class="mt-2">
                        <a href="" class="text-white">June 2018 (1)</a>
                  </li>
                  <li class="mt-2">
                        <a href="" class="text-white"> December 2017 (2)</a>
                  </li>
                  <li class="mt-2">
                        <a href="" class="text-white">April 2017 (2)</a>
                  </li>
                  <li class="mt-2">
                        <a href="" class="text-white">March 2017 (1)</a>
                  </li>
                  <li class="mt-2">
                        <a href="" class="text-white">February 2017 (1)</a>
                  </li>
                  <li class="mt-2">
                        <a href="" class="text-white">November 2016 (2)</a>
                  </li>

                  <li class="mt-2">
                        <a href="" class="text-white">June 2016 (1)</a>
                  </li>
            </ul>
      </div> -->
</div>